<form>
    <br>
    <!-- <form #registrationForm="ngForm " (ngSubmit)="onSubmit()" novalidate> -->
        <div class="form-group">
            <h2>Registration Form</h2>
            <label for="First Name"><b>First Name:</b></label>
            <input type="text" class="form-control" id="firstname" placeholder="Enter First Name">
        </div>

        <br>

        <div class="form-group">
            <label for="Last Name"><b>Last Name:</b></label>
            <input type="text" class="form-control" id="firstname" placeholder="Enter Last Name">
        </div>

        <br>

        <div class="form-group">
            <label for="Email id" class="first"><b>Email Id:</b></label>
            <input type="text" class="form-control" id="email id " placeholder="Enter Email Id">
        </div>
        <br>

        <div class="form-group">
            <label for="Passwords"><b>Password:</b></label>
            <input type="text" class="form-control" id="Password" placeholder="Enter Password">
        </div>
        <br>

        <div class="form-group">
            <button type="submit">Submit</button>
        </div>


    </form>